.nav {
    grid-area: nav;
    background-color:thistle;
  }
  .nav_link {
    color: black;
    text-decoration: none;

    
  }
  .nav_link:hover {
    color: lavender;
    text-decoration: none;
    
    
  }
  .nav div {
    margin-top: 25px;
    margin-left: 15px;
  }
  .active {
    color: lightslategray;
  }