.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
 grid-gap: 10px;
 grid-template-areas: 
 "header header"
 "nav main_content";
 width: 1440px;
 margin: 0 auto;
}
.header {
  grid-area: header;
  background-color: thistle;
  display: flex;
}
.header img {
  width: 100px
}
.nav {
  grid-area: nav;
  background-color:thistle;
}
.nav div a {
  color: black;
  
}
.nav div {
  margin-top: 25px;
  margin-left: 15px;
}

.main_content {
  grid-area: main_content;
  background-color: whitesmoke;
}
.main_content_img {
  width: 100%;
}
.header_title {
  text-align: center;
  margin: 0 auto;
}
.content_logo {
  width: 100px;
  height: 100%;
  margin-left: 25px ;
}
.ava {
  display: flex;
}
.description {
  margin-left: 25px;
}
.description h3, .description p {
  margin-top: 5px;
  margin-bottom: 5px;
}





